.container {
    padding: 16px;
    background-color: black;
    width: 500px;
    justify-content: center;
    border-style: ridge;
    align-items: center;
    content: white;
}

body {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}